# Flask configuration
FLASK_APP=main.py
FLASK_ENV=development
SECRET_KEY=your_secret_key_here

# Database configuration
POSTGRES_USER=admin
POSTGRES_PASSWORD=password123
POSTGRES_DB=pool_league
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}

# API configuration
FOOTBALL_DATA_API_KEY=6eec7c8df0144a07bad885c8f786a0b2